.centraliza-forms{
    text-align: center;

}

.centraliza-h2{
    text-align: center;
    font-size: 30px;
    padding: 7%;

}

.centraliza-btt{
    padding: 50%;
}
.centraliza-forms{
    align-items: center;
    padding: 15%;
}