.menu{
    background-color:black ;
    height: 500px;
    width: 500px;
}
.color-bg-1{
    background: black;
    opacity: 0.6;
    height: 400px;
}
.bg-color-3{
    color: blueviolet;
    opacity: 0.6;
}
.color{
    color: white;
}

.tam-logo{
    width: 50px;
    height: 60px;
}
.img-background-container {
    width: 100%;
    text-align: center;
    
}
.cor{
    color:#d500f9 ;
    size: 30px;
  }

.img-background-container  img {
    width: 100%;
}