.centraliza-h2{
    text-align: center;
    font-size: 30px;
    padding-top: 7%;
    padding-bottom: 5%;
}
.form-row{
    padding: 2%;
    align-items: center;
}
.altura-bt{
    padding: 3%;
}
.imagem-padrao{
    width: 100px;
    height: 100px;
}

.paragrafo-comum{
    font-size: 17px;
    color: black;
    padding: 10px;
}
.centraliza-tex{
    text-align: center;
}

.color{
    border-bottom-color: #CDBBEC;
    color:black;
}
.tam-img{
    height: 100 px;
    width: 100px;
}
.tamanho-img{
    height: 100 px;
    width: 100px;
}